<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col" id="ratings-id">
                <span>ID</span>
            </th>
            <th scope="col" id="ratings-name">
                <span>Condition</span>
            </th>
            <th scope="col" id="ratings-cpt-hcpcs">
                <span>Measure ID</span>
            </th>
            <th scope="col" id="ratings-gross-charge">
                <span>Measure Name</span>
            </th>
            <th scope="col" id="ratings-provider-name">
                <span>Score</span>
            </th>
            <th scope="col" id="ratings-provider-name">
                <span>Sample Size</span>
            </th>
            <th scope="col" id="ratings-provider-name">
                <span>Facility ID</span>
            </th>
            <th scope="col" id="ratings-actions">
                <span></span>
            </th>
            <th scope="col" id="ratings-actions">
                <span></span>
            </th>
            <th scope="col" id="ratings-actions">
                <span></span>
            </th>
        </tr>
    </thead>

    <tbody>
        <% @timely_and_effective_care_ratings.each do |timely_and_effective_care_ratings| %>
            <tr class="align-middle">
                <th scope="row"><%= timely_and_effective_care_ratings.id %></th>
                <td><%= timely_and_effective_care_ratings.condition %></td>
                <td><%= timely_and_effective_care_ratings.measure_id %></td>
                <td><%= timely_and_effective_care_ratings.measure_name %></td>
                <td><%= timely_and_effective_care_ratings.score %></td>
                <td><%= timely_and_effective_care_ratings.sample %></td>
                <td><%= timely_and_effective_care_ratings.facility_id %></td>
                <td>
                    <%= button_to "View", timely_and_effective_care_rating_path(timely_and_effective_care_ratings), class: "btn btn-outline-secondary", :method => :get  %>
                </td>
                <td>
                    <%= button_to "Edit", edit_timely_and_effective_care_rating_path(timely_and_effective_care_ratings), class: "btn btn-outline-secondary", :method => :get  %>
                </td>
                <td>
                    <%= button_to "Delete", timely_and_effective_care_rating_path(timely_and_effective_care_ratings), class: "btn btn-outline-danger", method: :delete %>
                </td>
            </tr>
        <% end %>
    </tobdy>
</table>