<div class="d-flex flex-row align-items-center justify-content-around">

  <%= form_with url: import_clinicians_path, class: "d-flex", method: :post do |form| %>
    <%= form.file_field :file, accept: ".csv", class: "form-control me-2" %>
    <%= form.button "Import", class: "btn btn-outline-success"  %>
  <% end %>

  <%= form_with url: bulk_import_clinicians_path, class: "d-flex", method: :post do |form| %>
    <%= form.file_field :file, accept: ".csv", class: "form-control me-2" %>
    <%= form.button "NPI", class: "btn btn-outline-success"  %>
  <% end %>
</div>

<div class="d-flex flex-row align-items-center justify-content-around">
  <%= form_with url: bulk_delete_clinicians_path, class: "d-flex", method: :post do |form| %>
    <%= form.file_field :file, accept: ".csv", class: "form-control me-2" %>
    <%= form.button "Delete", class: "btn btn-outline-danger" %>
  <% end %>

  <%= button_to "New Clinician", new_clinician_path, class:"btn btn-primary", :method => :get  %>
</div>

<br/>
<br/>
<br/>

<form class="d-flex" role="search" action="/clinicians">
  <input class="form-control me-2" name="q" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success" type="submit">Search</button>
</form>

<br/>

<p style="color: green"><%= notice %></p>

<br/>
<br/>

<table class="table">
    <thead class="thead-dark">
        <tr>
          <th scope="col" id="services-id">
            <span>ID</span>
          </th>
          <th scope="col" id="services-name">
            <span>Name</span>
          </th>
          <th scope="col" id="services-name">
            <span>Primary Speciality</span>
          </th>
          <th scope="col" id="services-name">
            <span>Medical School</span>
          </th>
          <th scope="col" id="services-cpt-hcpcs">
            <span>Graduation Year</span>
          </th>
          <th scope="col" id="services-gross-charge">
            <span>NPI</span>
          </th>
          <th scope="col" id="services-gross-charge">
            <span>PAC ID</span>
          </th>
          <th scope="col" id="services-action">
            <span></span>
          </th>
          <th scope="col" id="services-action_2">
            <span></span>
          </th>
          <th scope="col" id="services-action_3">
            <span></span>
          </th>
        </tr>
    </thead>
    <tbody>
        <% @clinicians.each do |clinician| %>
          <tr class="align-middle">
            <th scope="row"><%= clinician.id %></th>
            <td>
              <%= clinician.first_name %> <%= clinician.middle_name %> <%= clinician.last_name %> <%= clinician.credential %>
            </td>
            <td><%= clinician.primary_speciality %></td>
            <td><%= clinician.medical_school %></td>
            <td><%= clinician.graduation_year %></td>
            <td><%= clinician.npi %></td>
            <td><%= clinician.ind_PAC_ID %></td>
            <td>
              <%= button_to "View", clinician_path(clinician), class: "btn btn-outline-secondary", :method => :get %>
            </td>
            <td>
              <%= button_to "Edit", edit_clinician_path(clinician), class: "btn btn-outline-secondary", :method => :get %>
            </td>
            <td>
              <%= button_to "Delete", clinician_path(clinician.id), :method => :delete, class: "btn btn-outline-danger", :method => :delete %>
            </td>
          </tr>
      <% end %>
    </tbody>
</table>
