
<br/>
<br/>

<form class="d-flex" role="search" action="/facilities">
  <input class="form-control me-2" name="q" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success" type="submit">Search</button>
</form>

<br/>
<p style="color: green"><%= notice %></p>
<br/>

<table class="table">
    <thead class="thead-dark">
        <tr>
          <th scope="col" id="services-id">
            <span>ID</span>
          </th>
          <th scope="col" id="services-name">
            <span>Name</span>
          </th>
          <th scope="col" id="services-name">
            <span>Address</span>
          </th>
          <th scope="col" id="services-name">
            <span>Type</span>
          </th>
          <th scope="col" id="services-cpt-hcpcs">
            <span>NPI</span>
          </th>
          <th scope="col" id="services-gross-charge">
            <span>CMS Facility ID</span>
          </th>
          <th scope="col" id="services-gross-charge">
            <span>CMS Rating</span>
          </th>
          <th scope="col" id="services-action">
            <span></span>
          </th>
        </tr>
    </thead>
    <tbody>
        <% @facilities.each do |facility| %>
          <tr class="align-middle">
            <th scope="row"><%= facility.id %></th>
            <td><%= link_to facility.consumer_name(), facility_path(facility.id) %></td>
            <td><%= facility.locations.first.address() if facility.locations.first.present? %></td>
            <td><%= facility.facility_type %></td>
            <td><%= facility.npi %></td>
            <td><%= facility.facility_id %></td>
            <td><%= facility.overall_rating %></td>
            <td>
                <%= button_to "Delete", facility_path(facility.id), class: "btn btn-outline-danger", method: :delete %>
            </td>
          </tr>
      <% end %>
    </tbody>
</table>
