<h2><%= @facility.consumer_name().titleize %></h2>
<p><%= "NPI: #{@facility.npi}" %></p>

<br/>
<br/>

<h4><%= @locations.length > 1 ? Locations : Location %></h4>

<table class="table">
    <thead class="thead-dark">
        <tr>
          <th scope="col" id="services-name">
            <span>Address</span>
          </th>
          <th scope="col" id="services-name">
            <span>Phone Number</span>
          </th>
          <th scope="col" id="services-cpt-hcpcs">
            <span>Fax Number</span>
          </th>
          <th scope="col" id="services-gross-charge">
            <span>Latitude</span>
          </th>
          <th scope="col" id="services-gross-charge">
            <span>Longitude</span>
          </th>
        </tr>
    </thead>
    <tbody>
        <% @locations.each do |location| %>
          <tr class="align-middle">
            <td><%= location.address() %></td>
            <td><%= location.telephone_number.present? ? location.telephone_number : "N/A" %></td>
            <td><%= location.fax_number.present? ? location.fax_number : "N/A" %></td>
            <td><%= location.latitude.present? ? location.latitude : "N/A" %></td>
            <td><%= location.longitude.present? ? location.longitude : "N/A" %></td>
          </tr>
        <% end %>
    </tbody>
</table>

<br/>
<br/>
<% if @taxonomies.empty? == false %>
  <h4><%= @taxonomies.length > 1 ? "Specialties & Liscenses" : "Specialty & Liscense" %></h4>
  <p>Liscenses held by this facility.</p>
  <table class="table">
      <thead class="thead-dark">
          <tr>
            <th scope="col" id="services-name">
              <span>Code</span>
            </th>
            <th scope="col" id="services-name">
              <span>Taxonomy Group</span>
            </th>
            <th scope="col" id="services-cpt-hcpcs">
              <span>Description</span>
            </th>
            <th scope="col" id="services-gross-charge">
              <span>State</span>
            </th>
            <th scope="col" id="services-gross-charge">
              <span>License Num.</span>
            </th>
            <th scope="col" id="services-gross-charge">
            <span></span>
            </th>
          </tr>
      </thead>
      <tbody>
          <% @taxonomies.each do |taxonomy| %>
            <tr class="align-middle">
              <td><%= "#{taxonomy.code}"%></td>
              <td><%= taxonomy.taxonomy_group.present? ? taxonomy.taxonomy_group : "N/A" %></td>
              <td><%= taxonomy.desc %></td>
              <td><%= taxonomy.state.present? ? taxonomy.state : "N/A" %></td>
              <td><%= taxonomy.license.present? ? taxonomy.license : "N/A" %></td>
              <td><%= taxonomy.primary == true ? "Primary Specialty" : "" %></td>
            </tr>
          <% end %>
      </tbody>
  </table>
<% else %>
<% end %>

<br/>
<br/>

<% if @identifiers.empty? == false %>
  <h4><%= "Medicare Insurance Accepted" %></h4>
  <p>Medicare and Medicaid Insurance Plans this Facility Accepts</p>
  <table class="table">
      <thead class="thead-dark">
          <tr>
            <th scope="col" id="services-name">
              <span>Code</span>
            </th>
            <th scope="col" id="services-name">
              <span>Descripton</span>
            </th>
            <th scope="col" id="services-cpt-hcpcs">
              <span>Issuer</span>
            </th>
            <th scope="col" id="services-gross-charge">
              <span>Identifier</span>
            </th>
            <th scope="col" id="services-gross-charge">
              <span>State</span>
            </th>
            <th scope="col" id="services-gross-charge">
            <span></span>
            </th>
          </tr>
      </thead>
      <tbody>
          <% @identifiers.each do |identifier| %>
            <tr class="align-middle">
              <td><%= "#{identifier.code}"%></td>
              <td><%= identifier.desc %></td>
              <td><%= identifier.issuer.present? ? identifier.issuer : "N/A" %></td>
              <td><%= identifier.identifier.present? ? identifier.identifier : "N/A" %></td>
              <td><%= identifier.state.present? ? identifier.state : "N/A" %></td>
            </tr>
          <% end %>
      </tbody>
  </table>
<% else %>
<% end %>

<br/>
<br/>

<% if @clinicians.empty? == false %>
  <h4>Associated Clinicians</h4>
  <p>Clinicians that are associated with this facility</p>
  <table class="table">
      <thead class="thead-dark">
          <tr>
            <th scope="col" id="services-name">
              <span>Name</span>
            </th>
            <th scope="col" id="services-name">
              <span>Medical School</span>
            </th>
            <th scope="col" id="services-cpt-hcpcs">
              <span>Graduation Year</span>
            </th>
            <th scope="col" id="services-gross-charge">
              <span>Specialties</span>
          </tr>
      </thead>
      <tbody>
          <% @clinicians.each do |clinician| %>
            <tr class="align-middle">
              <td><%= "#{clinician.proper_name().titleize}"%></td>
              <td><%= clinician.medical_school.titleize %></td>
              <td><%= clinician.graduation_year %></td>
              <td><%= clinician.specialties().titleize %></td>
            </tr>
          <% end %>
      </tbody>
  </table>
<% else %>
<% end %>

<br/>

<h3>Timely & Effective Care Ratings</h3>
<p>This data shows measures of cataract surgery outcome, colonoscopy follow-up, heart attack care, emergency department care, preventive care, and pregnancy and delivery care.</p>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col" id="ratings-name">
                <span>Condition</span>
            </th>
            <th scope="col" id="ratings-cpt-hcpcs">
                <span>Measure ID</span>
            </th>
            <th scope="col" id="ratings-gross-charge">
                <span>Measure Name</span>
            </th>
            <th scope="col" id="ratings-provider-name">
                <span>Score</span>
            </th>
            <th scope="col" id="ratings-provider-name">
                <span>Sample Size</span>
            </th>
            <th scope="col" id="ratings-actions">
                <span></span>
            </th>
            <th scope="col" id="ratings-actions">
                <span></span>
            </th>
            <th scope="col" id="ratings-actions">
                <span></span>
            </th>
        </tr>
    </thead>

    <tbody>
        <% @timely_and_effective_care_ratings.each do |timely_and_effective_care_rating| %>
            <tr class="align-middle">
                <td><%= timely_and_effective_care_rating.condition %></td>
                <td><%= timely_and_effective_care_rating.measure_id %></td>
                <td><%= timely_and_effective_care_rating.measure_name %></td>
                <td><%= timely_and_effective_care_rating.score %></td>
                <td><%= timely_and_effective_care_rating.sample %></td>
                <td>
                    <%= button_to "Edit", edit_timely_and_effective_care_rating_path(timely_and_effective_care_rating), class: "btn btn-outline-secondary", :method => :get  %>
                </td>
                <td>
                    <%= button_to "Delete", timely_and_effective_care_rating_path(timely_and_effective_care_rating), class: "btn btn-outline-danger", method: :delete %>
                </td>
            </tr>
        <% end %>
    </tobdy>
</table>

<br/>
<br/>

<br/>

<h3>Ratings</h3>

<%= render "ratings/index" %>