<div class="d-flex flex-row align-items-center justify-content-around">
  <h1>Ratings: <%= @ratings.count %></h1>

  <%= form_with url: import_ratings_path, class: "d-flex", method: :post do |form| %>
    <%= form.file_field :file, accept: ".csv", class: "form-control me-2" %>
    <%= form.button "Import", class: "btn btn-outline-success"  %>
  <% end %>

  <%= form_with url: bulk_delete_ratings_path, class: "d-flex", method: :post do |form| %>
    <%= form.file_field :file, accept: ".csv", class: "form-control me-2" %>
    <%= form.button "Delete", class: "btn btn-outline-danger" %>
  <% end %>

  <%= button_to "New Rating", new_rating_path, class:"btn btn-primary", :method => :get  %>
</div>

<br/>
<br/>
<br/>

<form class="d-flex" role="search" action="/ratings">
  <input class="form-control me-2" name="q" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success" type="submit">Search</button>
</form>

<br/>

<p style="color: green"><%= notice %></p>

<br/>
<br/>

<%= render "ratings/index" %>