<h3>Bulk Actions for Negotiated Rates</h3>
<br/>
<div class="d-flex flex-row align-items-left justify-content-between">
  <%= form_with url: import_negotiated_rates_path, class: "d-flex", method: :post do |form| %>
    <%= form.file_field :file, accept: ".csv", class: "form-control me-2" %>
    <%= form.button "Import", class: "btn btn-outline-success"  %>
  <% end %>

  <%= form_with url: bulk_delete_negotiated_rates_path, class: "d-flex", method: :post do |form| %>
    <%= form.file_field :file, accept: ".csv", class: "form-control me-2" %>
    <%= form.button "Delete", class: "btn btn-outline-danger" %>
  <% end %>
</div>

<br/>
<br/>
<br/>

<h3>Bulk Actions for Facilities</h3>
<br/>
<div class="d-flex flex-row align-items-center justify-content-between">
  <%= form_with url: import_facilities_path, class: "d-flex", method: :post do |form| %>
    <%= form.file_field :file, accept: ".csv", class: "form-control me-2" %>
    <%= form.button "Import", class: "btn btn-outline-success"  %>
  <% end %>

  <%= form_with url: bulk_import_facilities_path, class: "d-flex", method: :post do |form| %>
    <%= form.file_field :file, accept: ".csv", class: "form-control me-2" %>
    <%= form.button "NPI", class: "btn btn-outline-success"  %>
  <% end %>
</div>

<br/>
<br/>

<div class="d-flex flex-row align-items-center justify-content-between">
  <%= form_with url: bulk_delete_facilities_path, class: "d-flex", method: :post do |form| %>
    <%= form.file_field :file, accept: ".csv", class: "form-control me-2" %>
    <%= form.button "Delete", class: "btn btn-outline-danger" %>
  <% end %>

  <div class="">
    <%= link_to "Download as CSV", facilities_path(format: :csv), download: ["Facilities", Date.today].join(" "), class: "btn btn-outline-secondary"  %>
  </div>
</div>

<br/>
<br/>

<h3>Bulk Actions for Clinicians</h3>
<br/>
<div class="d-flex flex-row align-items-center justify-content-between">
  <%= form_with url: import_clinicians_path, class: "d-flex", method: :post do |form| %>
    <%= form.file_field :file, accept: ".csv", class: "form-control me-2" %>
    <%= form.button "Import", class: "btn btn-outline-success"  %>
  <% end %>

  <%= form_with url: bulk_import_clinicians_path, class: "d-flex", method: :post do |form| %>
    <%= form.file_field :file, accept: ".csv", class: "form-control me-2" %>
    <%= form.button "NPI", class: "btn btn-outline-success"  %>
  <% end %>
</div>

<br/>
<br/>

<div class="d-flex flex-row align-items-center justify-content-between">
  <%= form_with url: bulk_delete_clinicians_path, class: "d-flex", method: :post do |form| %>
    <%= form.file_field :file, accept: ".csv", class: "form-control me-2" %>
    <%= form.button "Delete", class: "btn btn-outline-danger" %>
  <% end %>
</div>

<br/>