<h2>New Health Plan Network</h2>

<br/>

<%= form_with(model: @health_plan_network) do |f| %>
  <div class="row g-3">
    <div class="col-md-6">
      <%= f.label :name, "Name", class: "form-label" %>
      <%= f.text_field :name, class:"form-control" %>
    </div>
    <div class="col-12">
      <%= f.submit "Create Health Plan Network", class: "btn btn-primary" %>
    </div>
      <%= link_to "Back", '/health_plan_networks', class: "" %>
    </div>
  </div>
<% end %>