<div class="d-flex flex-row align-items-center justify-content-around">
    <%= "Median: #{@services_median}" %>
  <%= form_with url: import_negotiated_rates_path, class: "d-flex", method: :post do |form| %>
    <%= form.file_field :file, accept: ".csv", class: "form-control me-2" %>
    <%= form.button "Import", class: "btn btn-outline-success"  %>
  <% end %>

  <%= form_with url: bulk_delete_negotiated_rates_path, class: "d-flex", method: :post do |form| %>
    <%= form.file_field :file, accept: ".csv", class: "form-control me-2" %>
    <%= form.button "Delete", class: "btn btn-outline-danger" %>
  <% end %>

  <div class="col-md-2">
    <%= link_to "Download as CSV", negotiated_rates_path(format: :csv), download: ["Negotiated Rates", Date.today, Time.now].join(" "), class: "btn btn-outline-secondary" %>
  </div>  

</div>
<%= @array %>
<%= @arry_without_outliers %>
<%= @services_median %>
<%= @mean %>
<%= @standard_deviation %>
<%= @quarter_standard_deviation %>
<%= @benchmark %>
<br/>
<%= form_with url: "/negotiated_rates", class: "row g-3", method: :get do |form| %>

    <div class="col-md-4">
        <%= form.select :query, Code.all.collect { |c| [ c.code + " " + c.description, c.code ] }, {:selected => params[:query]}, class: "form-select" %>
    </div>

    <div class="col-md-3">
        <%= form.select :query_2, options_for_select([['Highmark, Inc.:363000000106', 106], ['Highmark, Inc.:363000000328', 328], ["Highmark, Inc.:363000008010", 8010]]) { |hpn| [ hpn[0], hpn[1] ] }, {:selected => params[:query_2]}, class: "form-select" %>
    </div>

    <div class="col-md-2">
        <%= form.select :query_5, options_for_select([['Price: $ - $$$', 1], ['Price: $$$ - $', 2], ['Quality: High - Low', 3], ['Quality: Low - High', 4], ['Reward: $ - $$$', 5], ['Reward: $$$ - $', 6], ['Distance: Far - Close', 7], ['Distance: Close - Far', 8]]) { |hpn| [ hpn[0], hpn[1] ] }, {:selected => params[:query_5]}, class: "form-select" %>
    </div>

    <div class="col-md-2">
        <%= form.select :query_3, options_for_select([['Distance: 0 - 35mi', 4], ['Distance: 0 - 45mi', 1], ['Distance: 0 - 60mi', 2], ['Distance: All', 3]]) { |hpn| [ hpn[0], hpn[1] ] }, {:selected => params[:query_3]}, class: "form-select" %>
    </div>

    <div class="col-md-1">
        <%= form.submit "Search", class: "btn btn-outline-success" %>
    </div>
<% end %>

<p style="color: green"><%= notice %></p>
<% if @negotiated_rates_with_distance.nil? == false %>
    <% @negotiated_rates_with_distance.each do |nrwd| %>
        <% negotiated_rate = nrwd[:negotiated_rate] %>
        <div class="card lh-base my-3">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-8 fs-6">
                        <div class="card-title"><%= "#{negotiated_rate.billing_code_type}: #{negotiated_rate.billing_code}" %></div>
                        <p class="card-text fs-6 fw-semibold"><%= "#{negotiated_rate.code.concise_description()}" %></p>
                    </div>
                    <div class="col-md-2">
                        <div class="h3 card-title"><%= number_to_currency(negotiated_rate.negotiated_rate, :unit => "$") %></div>
                        <p class="card-text">Avg. Insurance Rate</p>
                    </div>
                    <div class="col-md-2">
                        <%= button_to "Learn More", negotiated_rate_path(negotiated_rate), class: "btn btn-primary", method: :get %>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card-title"><%= link_to "#{negotiated_rate.facility.name}", facility_path(negotiated_rate.facility) %></div>
                        <p class="card-title"><%= "#{negotiated_rate.facility.address_line_one}" %></p>
                        <p class="card-title"><%= "#{negotiated_rate.facility.address_city}, #{negotiated_rate.facility.address_state}, #{negotiated_rate.facility.address_zip_code}" %></p>
                    </div>
                    <div class="col-md-2">
                        <div class="card-title">Billing Modifier(s)</div>
                        <p class="card-text"><%= negotiated_rate.billing_code_modifier %></p>
                    </div>
                    <div class="col-md-2">
                        <div class="card-title">Quality Rating</div>
                        <p class="card-text"><%= negotiated_rate.facility.overall_rating %></p>
                    </div>
                    <div class="col-md-2">
                        <div class="card-title">Reward</div>
                        <p class="card-text"><%= number_to_currency(nrwd[:reward], :unit => "$") %></p>
                    </div>
                    <div class="col-md-2">
                        <div class="card-title">Distance</div>
                        <p class="card-text"><%= "#{nrwd[:distance]}" %></p>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
<% end %>